
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

body{
    height:100vh;
    background-color: #405d72;
    margin:0;
    font-family: "Sen",sans-serif;
}

nav{
    margin:0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
}
h2, #allbuttons{
    margin:12px;
    margin-bottom: 24px;
    
}
.navbutton{
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Sen",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}



#header{
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url("./images/food.jpeg");
    margin: 12px;
    
    height:30vh;
    
}


#herotext{
    opacity: 1;
    color: rgb(255, 255, 255);
    font-size:64px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 1px 1px 8px black;
}

#menu{
    margin:12px;
    list-style: none;
    font-size:32pt;
    border-style:solid;
    padding:20px;
    
}
li{
    color: #f7e7dc;
    display:flex;
    justify-content: space-between;
}
.foodName{
    font-weight:bold;
}
.description{
    font-size:16px;
}
.menuButton{
    color: white;
    font-size: 16px;
    margin:6px;
    border: 2px solid black;
    font-weight: 600;
    background-color: transparent;
    transition:all 150ms cubic-bezier(0.22,0.48,0.56,1.15);
    padding: 12px;
}

.menuButton:hover{
    transform:scale(0.9);
    box-shadow: 0 20px 55px rgba(0,0,0,0.14), 0 15px 35px rgba(0,0,0,0.14);
    
}
#menuButtons{
    display:flex;
    justify-content: center;
    align-items: center;
}
span{
    margin-right:10px;
}
